@import "./base.scss";

.game-container {
  margin-top: $game-container-margin-top;
  position: relative;
  padding: $grid-spacing;

  cursor: default;
  user-select: none;
  touch-action: none;

  background: $game-container-background;
  border-radius: $tile-border-radius * 2;
  width: $field-width;
  height: $field-width;
  box-sizing: border-box;
}
